.appcontainer h1 {
  margin: 10px;
  padding: 10px;
  border: 1px solid aliceblue;
  background-color: aliceblue;
  text-align: center;
}

tr, td {
  text-align: center;
}

.container button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 12px;
}